*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
}

.logo-text{

    float:left;
    margin-left: 35px;

}
.logo-text p{
    font-weight: bold;

}
body{
    font-family: "Lucida Sans Unicode";
    font-size:20px;
}

header ul{
    list-style: none;
    margin: 0;
    padding-left:0;
}
header a{
    text-decoration: none;
    color:black;


}

header a:hover{
    color:#246FB5;
}
nav img{
    width:48px;
    height: 35px;
}
nav p {
    margin-top: -6px;
    position: relative;
}
.f1 li{
    float:left;
    margin-left: 85px;
    margin-top: 45px;
    position: relative;
}
.elips_logo{
    border-radius: 15%;
    width:88px;
    height: 70px;
    background-color:#246FB5;
    padding-left:10px;
    padding-top:1px;
    position: relative;
    float:left;
    margin-top: 20px;
    margin-left: 235px;

}
.elips_logo p{
    color:#fff;
    position: relative;
    margin-left:25px;
    margin-top: 15px;
    font-weight: bold;


}
.logo-text{
    display: inline-block;
    margin-left: 35px;
    position: relative;
    top:20px;

}
.logo-text p{
    font-weight: bold;

}
button.auth_but{
    width: 100px;
    height: 50px;
    border-radius: 25px;
    background-color:#246FB5;
    color:#fff;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
}
.edit-button,.remove-button{
    width: 130px;
    height: 50px;
    border-radius: 25px;
    background-color:#246FB5;
    color:#fff;
    border: none;
    outline: none;
    font-size: 18px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;

}
.delete-td a{
    color: #fff;
}
.edit-td a{
    color: #fff;
}
.count-cart{
    position: relative;
    right: 100px;
    bottom: 7px;
    width: 35px;
    height: 35px;
    background-color:#246FB5;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;

}

.no-cart{
    position: relative;
    left: 550px;
}
.mini-count{
    position: relative;
    left:11px;

}

.main{
    clear: both;

}
.main h1{
    text-align: center;
    position: relative;
    top: 25px;
}
.add_item a{
    text-decoration: none;
    color:#fff;
}
.add_item{
    margin-left: 13%;
    width: 180px;
    height: 55px;
    border-radius: 25px;
    background-color:#246FB5;
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
    margin-top: 50px;
}
.add_item a:hover{
    text-decoration: underline;
}
.add_item:active{
    background-color: #20314F;
}

table{

    border-collapse: collapse;
    border: 2px solid black;

    margin-top: 40px;
    padding: 15px;
    color:#fff;
    margin-left: 13%;
}
td{
    border: 2px solid #6C85A4;

    text-align: center;
    color: black;
    padding: 20px;
}

th{
    border: 2px solid #4381B4;
    background-color: #4381B4;
    padding: 20px;
    text-align: center;


}
tr{
    border: 2px solid black;
}

table a{
    color: black;
    text-decoration: none;
}
table a:hover{
    text-decoration: underline;
}

footer{
    top:480px;
    position: relative;
    background-color: #20314F;
    height: 400px;
    clear: both;
}
.footer-logo{
    border-radius: 15%;
    width:88px;
    height: 70px;
    background-color:#fff;
    color: #20314F;
    font-weight: bold;
    font-size: 30px;
    padding-left:10px;
    padding-top:1px;
}
.footer-logo-text{
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 20px;
    position: relative;
    top:10px;
}
.footer-logo,.footer-logo-text{
    display: inline-block;
}
.footer-logo span{
    padding-left: 26%;
    position: relative;
    top:10px;
}
.logo-wrapper{
    margin-left: 235px;
    padding-top: 50px;
}
.logo-wrapper,.about-shop,.info-for-seller,.contacts{
    float: left;
}
.about-shop{
    font-size: 16px;
    color: #fff;
    position: relative;
    left:100px;
    top: 78px;
}
.about-shop a{
    color: #fff;
    text-decoration: none;
}
.about-shop a:hover{
    color: #fff;
    text-decoration: underline;
}
.about-shop span{
    font-weight: bold;
    letter-spacing: 1px;

}
.info-for-seller{
    font-size: 16px;
    color: #fff;
    position: relative;
    left:200px;
    top: 78px;
}
.info-for-seller a{
    color: #fff;
    text-decoration: none;
}
.info-for-seller a:hover{
    color: #fff;
    text-decoration: underline;
}
.info-for-seller span{
    font-weight: bold;
    letter-spacing: 1px;
}
.contacts{
    font-size: 16px;
    color: #fff;
    position: relative;
    left:300px;
    top: 78px;
}
.contacts span{
    font-weight: bolder;
    letter-spacing: .5px;
}
.contacts img{
    width: 40px;
    height: 40px;
    filter: invert(100%);
    -webkit-filter:invert(100%);
    position: relative;
    top:10px;
}
.contacts .icon{
    position: relative;
    margin-left: 10px;
}

.popup{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.8);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    border-radius: 10px;
}
.popup.open{
    opacity: 1;
    visibility: visible;
}
.popup.open .popup-content{
    transform: perspective(600px) translate(0px,0px) rotateX(0deg);
    opacity: 1;
}
.popup2.open{
    opacity: 1;
    visibility: visible;
}
.popup2.open .popup-content{
    transform: perspective(600px) translate(0px,0px) rotateX(0deg);
    opacity: 1;
}
.popup_body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

}
.popup-content{
    font-size: 24px;
    background-color: #74acf5;
    color: #ffffff;
    max-width: 900px;
    width: 800px;

    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    transform: perspective(600px) translate(0px,-100%) rotateX(45deg);
    opacity: 0;

}
.popup-title{
    font-size: 40px;
    margin: 0 0 1em 0;
    text-align: center;
    font-weight: bolder;
}
.popup-link:active{
    color: black;
}
.popup_close{
    position: absolute;
    right: 10px;
    top:10px;
}
body.lock{
    overflow: hidden;
}
.group{
    clear: both;
    text-align: right;
    margin-top: 15px;
    position: relative;
    left:35%;
}
label{
    float: left;
}
.wrapper{
    float:left;
}

input[type=text],textarea{
    font-size: 24px;
    position: relative;
    left:40px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 3px;

}
.cat_span{
    position: relative;
    right: 160px;
    font-size: 18px;
}

#category{
    position: relative;
    left:120px;

}
#category2{
    position: relative;
    left:140px;
}
#category3{
    position: relative;
    left:135px;
}
#category4{
    position: relative;
    left:82px;
}
.true,.false{
    position: relative;
    right: 360px;
    font-size: 18px;
}

#hit{
    position: relative;
    right: 280px;
}
#hit2{
    position: relative;
    right: 292px;
}
#sale{
    position: relative;
    right: 280px;
}
#sale2{
    position: relative;
    right: 292px;
}
button[type=submit]{
    color: #fff;
    border: 2px solid #fff;
    margin-left: 300px;
    width: 180px;
    height: 55px;
    border-radius: 25px;
    background-color: rgb(254,65,65);
    outline: none;
    font-size: 20px;
    letter-spacing: .5px;
    position: relative;
    bottom: 5px;
    margin-top: 50px;
}
button[type=submit]:active{
    background-color: rgb(252, 13, 13);
}